@import url(reset.css);

body, html{
    margin: 0;
    padding: 0;         
}

header.main-content{
                    background: rgba(255,255,254,0.4);
                    position: sticky;
                    top: 0;
                    margin:  0 auto;
                    border-bottom-right-radius: 12px;
                    border-bottom-left-radius: 12px;
                    z-index: 999;
}

.main-content-wrapper{
                      position: relative;  
                      width: 1200px;
                      height: 63px;
                      margin: 0 auto;
}

.promotionbar{
              position: absolute;  
              width: 159px;
              height: 266px;
              right: -55px;
              top: 180px;
              z-index: 999;
}

.promotionbar img{
                  width: 100px;  
}

.a-rg{
      position: absolute;
      top: 34%;
      left: 25px;
}

.a-rg img{
          width: 50px;

}

.main-content-wrapper::after{
                            content: "";
                            display: block;
                            clear: both;
}

.main-content-wrapper>.menu{
                            width: 444px;
                            height: 24.45px;
                            float: right;
                            margin-top: 1%;
                            
}

.warpper-logo{
              /* outline: 5px solid blue; */
              margin-left: 63px;
              width: 63px;
              float: left;
}

.warpper-logo img{
                  width: 63px; 
                    
}

.menu{
      /* outline: 1px solid yellow; */
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }

/* 產品目錄子選單效果 */
.product{
         position: relative;
}

.product ul{
            position: absolute;
            top: 27px;
            width: 78px;
}

.product li{
            margin-bottom: 8px;
}

/* 門市據點子選單效果 */
.locations{
           position: relative;
}

.locations ul{
              position: absolute;
              top: 27px;
              width: 78px;
}

.locations li{
              margin-bottom: 8px;
}

/* 深度體驗子選單效果 */
.experiences{
             position: relative;
}

.experiences ul{
                position: absolute;
                top: 27px;
                width: 78px;
}

.experiences li{
                margin-bottom: 8px;
}

.same ul{
         display: none;    
}

.same:hover ul{
               display:block;
}

.same:hover li{
               border-bottom: 3px #E2C286 solid;
}

.menu a{
        text-decoration: none;
        font-family: 'Delius Unicase';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #E2C081;
}

.pagevalue{
           /* outline: 1px blue solid; */
           margin: 0 auto;
           width: 542px;
           height: 89px;
           /* background: rgba(31, 31, 31, 0.4); */
         
        
}

.pagevalue h1{
              font-size: 30px;
              font-weight: 700;
              letter-spacing: 0.1em;
              color: #E2C286;
              text-align: center;
              width: 190px;
              line-height: 89px;
              padding-bottom: 0px;
              margin: 0 auto;
              text-decoration: underline;
              text-underline-offset: 6px;
              text-decoration-thickness: 3px;
}