.bgcover{
        background-image: url("./image/main_bg.jpg");
        position: absolute;
        z-index: -1000;
        width: 100%;
        height: 2568px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: blur(20px);    
}

.mid-bg-dressing{
                 width: 542px;
                 height: 2200px;
                 position: absolute;
                 left: 50%;
                 transform: translateX(-50%);
                 background: rgba(31, 31, 31, 0.4);
                 z-index: -999;
}

.slogan{
        /* outline: 1px red solid; */
        width: 1200px;
        height: 142px;
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translateX(-600px);
}

.slogan h1{
           font-family: 'Delius Unicase';
           font-style: normal;
           font-weight: 700;
           font-size: 54px;
           line-height: 71px;
           align-items: center;
           letter-spacing: 0.05em;
           color: #E2C286;
}

/* 故事第一章區塊 */
.wrapper-1{
           /* outline: 1px red solid; */
           width: 1200px;
           height: 500px;
           margin: 0 auto; 
           margin-top: 200px;
}

.story-1{
         /* outline: 1px red solid; */
         display: inline-flex;
         width: 1200px;
         height: 500px;
         margin: 0 auto;
         font-family: 'Delius Unicase';
         font-style: normal;
         font-weight: 400;
         font-size: 20px;
         line-height: 35px;
         /* or 175% */
         color: #E2C286;
         word-spacing: 14px;
         text-align: left;
}

.story-1-left{
              width: 329px;
              height: 500px;
              box-sizing: border-box;
              padding-top: 54px;
}

.story-1-left img{
                  display: block;
                  margin: 0 auto;
}

.story-1-mid{
             /* outline: 1px solid blue; */
             width: 542px;
             height: 500px;
             box-sizing: border-box;
             padding: 0px 9px;  
}

.story-1-mid h2{
                text-align: center;
                margin-bottom: 10px;
                font-family: 'Delius Unicase';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 38px;
                text-decoration: underline;
                text-underline-offset: 6px;
                text-decoration-thickness: 3px;
}

.story-1-right{
               width: 329px;
               height: 500px;
}

/* 故事第二區塊 */
.wrapper-2{
           /* outline: 1px red solid; */
           width: 1200px;
           height: 500px;
           margin: 0 auto; 
}

.story-2{
         display: inline-flex;
         width: 1200px;
         height: 500px;
         margin: 0 auto;
         font-family: 'Delius Unicase';
         font-style: normal;
         font-weight: 400;
         font-size: 20px;
         line-height: 35px;
         /* or 175% */
         color: #E2C286;
         word-spacing: 14px;
         text-align: left;
}

.story-2-left{
              width: 329px;
              height: 500px;
}

.story-2-mid{
             /* outline: 1px solid blue; */
             width: 542px;
             height: 500px;
             box-sizing: border-box;
             padding: 0px 9px;   
}

.story-2-mid h2{
                text-align: center;
                margin-bottom: 10px;
                font-family: 'Delius Unicase';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 38px;
                text-decoration: underline;
                text-underline-offset: 6px;
                text-decoration-thickness: 3px;
}

.story-2-right{
               width: 329px;
               height: 500px;
               box-sizing: border-box;
               padding-top: 54px;
}  

.story-2-right img{
                   display: block;
                   margin: 0 auto;
}

/* 故事第三區塊 */
.wrapper-3{
           /* outline: 1px red solid; */
           width: 1200px;
           height: 500px;
           margin: 0 auto;
}

.story-3{
         /* outline: 1px red solid; */
         display: inline-flex;
         width: 1200px;
         height: 500px;
         margin: 0 auto;
         font-family: 'Delius Unicase';
         font-style: normal;
         font-weight: 400;
         font-size: 20px;
         line-height: 35px;
         /* or 175% */
         color: #E2C286;
         word-spacing: 14px;
         text-align: left;
}

.story-3-left{
              width: 329px;
              height: 500px;
              box-sizing: border-box;
              padding-top: 54px;
}

.story-3-left img{
                  display: block;
                  margin: 0 auto;
}

.story-3-mid{
             /* outline: 1px solid blue; */
             width: 542px;
             height: 500px;
             box-sizing: border-box;
             padding: 0px 9px;   
}

.story-3-mid h2{
                text-align: center;
                margin-bottom: 10px;
                font-family: 'Delius Unicase';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 38px;
                text-decoration: underline;
                text-underline-offset: 6px;
                text-decoration-thickness: 3px;
}

.story-3-right{
               width: 329px;
               height: 500px;
}

/* 故事第四區塊 */
.wrapper-4{
           /* outline: 1px red solid; */
           width: 1200px;
           height: 500px;
           margin: 0 auto; 
}

.story-4{
         /* outline: 1px red solid; */
         display: inline-flex;
         width: 1200px;
         height: 500px;
         margin: 0 auto;
         font-family: 'Delius Unicase';
         font-style: normal;
         font-weight: 400;
         font-size: 20px;
         line-height: 35px;
         /* or 175% */
         color: #E2C286;
         word-spacing: 14px;
         text-align: left;
}

.story-4-left{
              width: 329px;
              height: 500px;
}

.story-4-mid{
             /* outline: 1px solid blue; */
             width: 542px;
             height: 500px;
             box-sizing: border-box;
             padding: 0px 9px;   
}

.story-4-mid h2{
                text-align: center;
                margin-bottom: 10px;
                font-family: 'Delius Unicase';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 38px;
                text-decoration: underline;
                text-underline-offset: 6px;
                text-decoration-thickness: 3px;
}

.story-4-right{
               width: 329px;
               height: 500px;
               box-sizing: border-box;
               padding-top: 54px;
}

.story-4-right .story4{
                   display: block;
                   margin: 0 auto;
}  
