.bgcover{
    background-image: url("./image/main_bg.jpg");
    position: absolute;
    z-index: -1000;
    width: 100%;
    height: 2652px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(20px);    
}

/* slogan環境設置 */
.slogan-p5{
           position: absolute;
           left: 50%;
           transform: translateX(-384px);
           width: 768px;
           height: 162px;
           font-family: 'Delius Unicase';
           font-style: normal;
           font-weight: 700;
           font-size: 55px;
           line-height: 71px;
           letter-spacing: 0.05em;
           color: #E2C286; 
}

/* 網站佈局用 */
.spacelayout-p5{
                /* outline: 1px solid red; */
                width: 1px;
                height: 300px;
                margin: 0 auto;
}

/* 置中用父層 */
.mainarea-wrapper-p5{
                     width: 1000px;
                     height: 2200px;
                     margin: 0 auto;                    
}

/* 救援篇幅不對稱 */
.saver{
       width: 1200px;
       margin: 0 auto;
       margin-left: -10%;
       /* background-color: rgba(220, 220, 196, 0.4);  */

}

.mainarea-p5{
             /* outline: 1px solid yellow; */
             font-family: 'Delius Unicase';
             font-style: normal;
             color: #E2C081;
             background-color: rgba(220, 220, 196, 0.4);            
} 

/* 個別調整文字樣式 */
.mainarea-p5 h1{
                font-weight: 1000;
                font-size: 30px;
                line-height: 38px;
                letter-spacing: 0.1em;
                padding-top: 58px;
                padding-left: 58px;
}

.mainarea-p5 h3{
                font-weight: 700;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.3em;
                padding-left: 58px;
                padding-top: 26px;
}

 .pp{
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     line-height: 1.5;
     letter-spacing: 4px; 
     padding-left: 58px;
     padding-top: 26px;
}

/* 調整bottom樣式 */
.gb{
    padding-left: 66px;
    margin-top: 124px;
}

.gb img{
        width: 130px;
}

/* 課程內容展示 */
.section-1{
           width: 1000px;
           height: 400px;
           position: relative;
           box-sizing: border-box; 
}

.lessonbox-1{
             position: absolute;
             right: -70px;
             top: 58px;
             box-shadow: 16px 17px 20px rgb(0 0 0 / 80%);
}

.yellowblock{
             display: block;             
             position: absolute;
             z-index: -1;
             right: -95px;
             top: 72px;
}

.section-2{
           width: 1000px;
           height: 400px;
           position: relative;   
}

.lessonbox-2{
    position: absolute;
    right: -70px;
    top: 58px;
    box-shadow: 16px 17px 20px rgb(0 0 0 / 80%);

}

.section-3{
           width: 1000px;
           height: 400px;
           position: relative;  
}

.lessonbox-3{
    position: absolute;
    right: -70px;
    top: 58px;
    box-shadow: 16px 17px 20px rgb(0 0 0 / 80%);

}

.section-4{
           width: 1000px;
           height: 400px;
           position: relative;  
}

.lessonbox-4{
    position: absolute;
    right: -70px;
    top: 58px;
    box-shadow: 16px 17px 20px rgb(0 0 0 / 80%);

}

.section-5{
           width: 1000px;
           height: 400px;
           position: relative;  
}

.lessonbox-5{
    position: absolute;
    right: -70px;
    top: 58px;
    box-shadow: 16px 17px 20px rgb(0 0 0 / 80%);

}

.section-6{
           outline: 1px solid olivedrab; 
           width: 1000px;
           height: 200px; 
}

.section-6::before{
                   content: "";
}

.section-6::after{
                  content: "";
}

.decoration-line{}

