*html, body{
    margin: 0;
    padding: 0;
}

.potato-wrapper{
    width: 505px;
    height: 526px;
    margin: 0 auto;
    background-color: #EC6D4E;
    outline: 1px solid red;
    clip-path: polygon(50% 2%, 53% 2%, 57% 2%, 61% 3%, 64% 4%, 67% 5%, 71% 7%, 74% 8%, 78% 10%, 81% 12%, 83% 14%, 86% 17%, 87% 20%, 89% 23%, 90% 26%, 91% 29%, 93% 32%, 94% 35%, 95% 39%, 95% 42%, 96% 46%, 97% 49%, 97% 52%, 97% 56%, 98% 59%, 98% 63%, 98% 66%, 98% 69%, 97% 73%, 96% 76%, 96% 79%, 95% 82%, 93% 85%, 91% 88%, 89% 90%, 86% 92%, 83% 93%, 79% 95%, 76% 96%, 73% 97%, 69% 97%, 66% 98%, 63% 98%, 59% 98%, 55% 98%, 51% 98%, 47% 98%, 44% 97%, 41% 97%, 37% 96%, 33% 96%, 30% 95%, 26% 95%, 23% 94%, 19% 93%, 16% 91%, 13% 89%, 11% 86%, 9% 83%, 7% 81%, 5% 77%, 5% 75%, 4% 71%, 3% 67%, 2% 64%, 2% 61%, 1% 57%, 2% 53%, 2% 49%, 2% 46%, 2% 43%, 3% 40%, 3% 36%, 4% 32%, 5% 29%, 7% 26%, 8% 24%, 9% 21%, 10% 18%, 12% 15%, 14% 12%, 16% 10%, 19% 7%, 23% 5%, 26% 4%, 29% 3%, 34% 2%, 37% 1%, 40% 1%, 44% 1%, 47% 2%);
}
