@import url(reset.css);

body{
     background-image: url("../image/main_bg.jpg");
     position: relative;
     /* background-color: #000000; */
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     background-attachment:fixed;
}

html{
     scroll-behavior: smooth;
}

#totop{
       display: block;
}

.img-creation{
              height: 530px;
              width: 100%;
              overflow-y: hidden;
              margin-bottom: 70px;
              position: relative;
              top: -68px;
}

.img-creation img{
                  width: 100%;
}

.embedyoutube{
              font-size: 0;
              width: 100%;
              padding-top: calc(100% * 9 / 16);
              position: relative;
              margin-top: -190px;
              z-index: -2;
}

div.embedyoutube iframe{
                        position: absolute;
                        top: -4%;
                        left: 0;
                        width: 100%;
                        height: 100%;
}

/* 主商頁內容部分 */
/* 活動上半部 */
.sec-top{
         /* outline: 5px solid blue; */
         width: 1200px;
         height: 665px;
         margin: 0 auto;
         display: flex;
         margin-bottom: 30px;
}

/* 左兩張圖片 */
.left1{
       /* outline: 1px solid orange; */
       width: 583px;
       height: 665px;
       display: inline-block;
}

.left-left{
           /* outline: 1px solid red;  */
           width: 248px;
           height: 665px;
           display: inline-block;
}

.left-left img{
               display: block;
               transition: .3s;
}

.left-left img:hover{
                     transform: scale(1.2, 1.2);   
}

/* 右一張圖片 */
.left-right{
            width: 321px;
            height: 665px;
            display: inline-block;
            margin-left: 9px;
}

.left-right img{
                transition: .3s;
}

.left-right img:hover{
                      transform: scale(1.2, 1.2) translateY(-30px);     
}

.right1{
        /* outline: 1px solid red; */
        width: 582px;
        /* height: 665px; */
        margin-left: 36px;
        position: relative;
        color:rgba(226, 194, 134, 1);
        font-family: 'Delius Unicase';
        font-style: normal;
        text-align: center;
        background-image: url("../finalversion/p1-8years.jpg");       
}



.right1 .knowmore{
                  position: absolute;   
                  right: 50%;
                  top: 76%;
                  transform: translateX(50%);
                  transition: .4s;
}

.right1 .knowmore:hover{
                        width: 70px;        
}

.right1 .logo-gold{
                   position: absolute;
                   width: 60px;
                   right: 50%;
                   top: 84%;
                   transform: translateX(50%);
}

.right1 h2{
           font-weight: 700;
           font-size: 55px;
           line-height: 71px;
}

.right1 .h2-mt50px{
                   margin-top: 50px;
                   margin-bottom: 14px;
}

.right1 h4{
           font-weight: 700;
           font-size: 20px;
           line-height: 38px;
           margin-top: 10%;
}

.year8-414px{
             display: none;   
}

/* 活動中半部 */
.sec-mid{
         /* outline: 1px solid red; */
         width: 1200px;
         height: 665px;
         margin: 0 auto;
         display: flex;
         margin-bottom: 30px;
}

.left2{
       width: 583px;
       /* height: 665px; */
       position: relative;
       color:rgba(226, 194, 134, 1);
       font-family: 'Delius Unicase';
       font-style: normal;
       text-align: center;
       background-image: url("../finalversion/p1-night-study.jpg");
}

.left2 .knowmore{
                 position: absolute;   
                 right: 50%;
                 top: 76%;
                 transform: translateX(50%);
                 transition: .4s;
}

.left2 .knowmore:hover{
                       width: 70px; 
}        

.left2 .logo-gold{
                  position: absolute;
                  width: 60px;
                  right: 50%;
                  top: 84%;
                  transform: translateX(50%);
}

.left2 h2{
          font-weight: 700;
          font-size: 55px;
          line-height: 71px;
}

.left2 .h2-mt50px{
                  margin-top: 50px;
                  margin-bottom: 14px;
}

.left2 h4{
          font-weight: 700;
          font-size: 20px;
          line-height: 38px;
          margin-top: 10%;
}

.h2-group{
          display: flex;
          justify-content: space-evenly;
}

.h2-group h2{
             margin-top: 16px;
             font-size: 36px;   
}

.nightstudy-414px{
                  display: none;
}

.sec-mid .right2{
                 display: inline-block; 
                 margin-left: 36px; 
}

.right2 img{
            transition: .3s;
            width: 582px;
            height: 665px;    
}

.right2 img:hover{
                  transform: scale(.8); 
}

/* 活動下部份 */
.sec-bot{
         /* outline: 1px solid red;    */
         width: 1200px;
         height: 665px;
         margin-top: 94px;
         margin-bottom: 94px;
         margin: 0 auto;
         display: flex;
         margin-bottom: 30px;
}

.sec-bot .left3{
                display: inline-block;
} 

.left3 img{
        transition: .3s;    
}

.left3 img:hover{
              transform: scale(.8); 
}

.right3{
        /* outline: 1px solid red; */
        width: 583px;
        margin-left: 36px;
        position: relative;
        color:rgba(226, 194, 134, 1);
        font-family: 'Delius Unicase';
        font-style: normal;
        text-align: center;
        background-image: url("../finalversion/p1-earlybird.jpg");
}

.right3 .knowmore{
         position: absolute;   
         right: 50%;
         top: 76%;
         transform: translateX(50%);
         transition: .4s;
}

.right3 .knowmore:hover{
               width: 70px; 
}        

.right3 .logo-gold{
          position: absolute;
          width: 60px;
          right: 50%;
          top: 84%;
          transform: translateX(50%);
}

.right3 h2{
  font-weight: 700;
  font-size: 55px;
  line-height: 71px;
}

.right2 .h2-mt50px{
          margin-top: 50px;
          margin-bottom: 14px;
}

.right3 h4{
        font-weight: 700;
        font-size: 20px;
        line-height: 38px;
        margin-top: 10%;
}

.earlybird-414px{
                 display: none;
}

/* 會員卡區塊 */
.membershipcard-section{
                        /* outline: 1px solid  #E2C286;  */
                        width: 1200px;
                        height: 280px;
                        display: flex; /*讓會員卡的div區塊水平排列*/
                        margin: 0 auto;
}

.right4{
        position: relative;
        background-image: url("../finalversion/p1-goldcard.jpg");
        width: 50%;
} 

.right4 h2{
           font-family: Delius Unicase;
           font-size: 55px;
           font-weight: 700;
           line-height: 71px;
           letter-spacing: 0.05em;
           text-align: left;
           color: #ffffff;
           text-align: center;
           margin-top: 12px;
}

.right4 div{
            display: flex;
            width: 552px;
            justify-content: space-between;
            /* margin-right: 137px; */
            margin: 0 auto;
            font-weight: 700;
            font-size: 40px;
            line-height: 38px;
            color: #ffffff;
            margin-top: 40px;
}

.right4 h4{
           
}

.right4 img{
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 144px;
}

.right4 .knowmore{
                  position: absolute;
                  top: 84%;
                  left:50%;
                  transform: translateX(-50%);
                  transition: .4s;
}

.right4 .knowmore:hover{
                        width: 80px;
}

.left4{
       position: relative;
       background-image: url("../finalversion/dark-bluecard-2.jpg"); 
       width: 50%;
}

.left4 h2{
          font-family: Delius Unicase;
          font-size: 55px;
          font-weight: 700;
          line-height: 71px;
          letter-spacing: 0.05em;
          text-align: left;
          color: #ffffff;
          text-align: center;
          margin-top: 12px;
}

.left4 div{
           display: flex;
           width: 552px;
           justify-content: space-between;
           /* margin-right: 137px; */
           margin: 0 auto;
           font-weight: 700;
           font-size: 40px;
           line-height: 38px;
           color: #ffffff;
           margin-top: 40px;
}

.left4 img{
           position: absolute;
           top: 30%;
           left: 50%;
           transform: translateX(-50%);
           display: block;
           width: 144px;
}

.left4 .knowmore{
                 position: absolute;
                 top: 84%;
                 left:50%;
                 transform: translateX(-50%);
                 transition: .4s;
}

.left4 .knowmore:hover{
                       width: 70px;
}

.logo-gold-414px, .logo-darkblue-414px{
                                       display: none; 
}

/* 會員卡之後 五張圖的版面配置 */
.warpper-container-bot{
                       /* border-top: 1px solid black;  */
                       width: 100%;
                       text-align: center; /*下方div區塊置中*/
}

.container-bot{
               /* outline: 1px solid #E2C081; */
               width: 1200px;
               height: 790px;
               display: inline-flex; /*子層div區塊水平排列*/
               padding-top: 94px;
               box-sizing: border-box;
}

/* 左上 */
.container-bot .scale-1{
                        transition: .4s;
                        box-sizing: border-box;
}

.container-bot .scale-1:hover{
                              transform: translate(0px, -100px) scale(.6); 
                              border-radius: 25%;
                              outline:10px solid #E2C286; 
}


/* 左下 */
.container-bot .scale-2{
                        transition: .4s;
                        box-sizing: border-box; 
}

.container-bot .scale-2:hover{
                              transform: scale(1.5) translate(100px, -100px);
                              border-radius: 25%;  
                              outline:10px solid #E2C286;
}

/* 中上 */
.container-bot .scale-3{
        transition: .4s;
        box-sizing: border-box; 
}

.container-bot .scale-3:hover{
              transform: scale(1.5) translate(0px, 100px);
              border-radius: 25%;  
              outline:10px solid #E2C286;
}

/* 中下 */
.container-bot .scale-4{
        transition: .4s;
        box-sizing: border-box; 
}

.container-bot .scale-4:hover{
              transform: scale(.6) translate(0px, -100px);
              border-radius: 25%; 
              outline:10px solid #E2C286; 
}

/* 右上 */
.container-bot .scale-5{
        transition: .4s;
        box-sizing: border-box; 
}

.container-bot .scale-5:hover{
              transform: scale(.6) translate(0px, -100px);
              border-radius: 25%;  
              outline:10px solid #E2C286;
}


/* 右下 */
.container-bot .scale-6{
        transition: .4s;
        box-sizing: border-box; 
}

.container-bot .scale-6:hover{
              transform: scale(1.5) translate(-100px, -100px);
              border-radius: 25%;  
              outline:10px solid #E2C286;
}

.container-bot .container-left{
                               font-size: 0; 
                               
}

.container-bot .container-mid{
                              font-size: 0;
}

.container-bot .container-right{
                                font-size: 0;
}

/* totop 紙飛機 */
.totop{
       width: auto;
       bottom: 60%;
       right: 5%;
       position: fixed;
       text-align: center;
       transition: .5s;
}

.totop img{
       width: 50px; 
}

.totop span{
            display: block;    
            color: #E2C286;
            font-size: 28px;
            font-weight: bolder;
            outline: 3px dotted;
}

/* 頁尾部份 */
.end-of-the-page{
                 width: 100%;
                 text-align: center;
                 position: relative;
                 /* top:2px */
                 background-color: rgb(44 50 54);
}

.spaceforlayout a{
                  display: block;
                  width: 50px;
                  height: 94px;
                  margin: 0 auto;
                  padding-top: 10px;
                  box-sizing: border-box;
}

.footer-container{
                  width: 1200px;
                  height: 216px;
                  display: inline-block;
}

.top-footer{
            width: 1200px;
            height: 108px;
            display: inline-flex;
}

.logowrapper{
             /* border-right: 1px black solid; */
             width: 400px;
             height: 108px;
}

.logowrapper img{
                 width: 80px;
                 padding-top: 12px;     
}

.manuwrapper{
             /* outline: 1px green solid; */
             width: 400px;
             height: 108px;
}

.manuwrapper form{
                  padding-top: 40px;
}

.ty-search{
           padding: 10px;
           border-style: hidden;
           border-radius: 50px;
           font-size: 14px;
           background-color: beige;
           box-shadow: 1px 2px 3px 0px rgb(85 83 83 / 30%);
           width: 314px; 
}

.ty-search:focus{
                 outline: none;
}

.ty-submit{
           background-color: beige;
           padding: 8px;
           border-style: hidden;
           border-radius: 38%;
           margin-left: 18px;
           font-weight: 900;
           color: black;
           box-shadow: 1px 2px 3px 0px rgb(85 83 83 / 30%);
           display: none;
}

.manuwrapper i{
               color: #6f4835;
               font-size: 24px;
               transition: .4s;
               padding-left: 12px;
}

.manuwrapper i:hover{
                     transform: scale(1.5);                 
}

.mediawrapper{
              width: auto;
              height: 108px;
              box-sizing: border-box;
              font-size: 38px;
              letter-spacing: 8px;
              line-height: 108px;
              padding-left: 14%;
              padding-top: 10px;
}

.media{
       display: flex; 
}

.media a{
         /* outline: 1px black solid; */
         font-size: 12px;
}

.social{
        display : inline-block;
        width : 56px;
        height : 56px;
        padding : 8px;
        border-radius:100%;
        background-color : white;
        margin:10px;
        transition: all 0.5s ease-in-out;
}

.social svg{
            transition: 0.5s ease-out;
}

.social:hover{
              border-radius:10%;
              transform: rotate(405deg);
}

.social:hover svg{
                  transform: rotate(315deg);
}
      
.facebook{
          fill: #3b5998;
}

.facebook:hover{
                fill:white;
                background: #3b5998;
}

.twitter{
	 fill: #4099FF;
}
 
.twitter:hover{
               fill:white;
	       background:#4099FF;
}

.googleplus{
            fill: #d34836;
}

.googleplus:hover{
                  fill:white;
	          background:#d34836;
}

.bot-footer{
            width: 1200px;
            height: 108px;
            /* border-top: 1px solid  red; */
            display: inline-flex;
}

.copyright{
           /* border-right: 1px solid #FFFFFF;  */
           width: 400px;
           height: 108px;
           line-height: 108px;
           font-family: 'Days One';

           font-size: 20px;
           color: #FFFFFF;
}

.copyright b{
             font-size: 16px;
             font-weight: 600;
}

.annoucement{
             width: 800px;
             height: 108px;
             line-height: 108px;
             text-align: center; 
             font-family: 'Delius Unicase';
             font-style: normal;
             font-weight: 600;
             font-size: 16px;
             color: #FFFFFF;  
}

.spaceforlayout{
                display: none;
}

/* screen 414-------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 414px){
body{
     background-image: url(../image/logo-darkblue.svg);
     background-repeat: no-repeat;
     background-size: 200px;
     background-position: center center;
     background-attachment: fixed;
}
        
.img-creation{
              height: 328px;
              width: 100%;
              overflow-y: hidden;
              margin-bottom: 0px;
              position: relative;
              top: -68px;
              display: none;
}
  
.img-creation img{
                  width: 100%;
}

.embedyoutube{
              font-size: 0;
              width: 100%;
              padding-top: calc(100% * 9 / 16);
              position: static;
              margin-top: -169px;
}

div.embedyoutube iframe{
                        position: static;
                        height: 233px;
}

.right1{
        display: none;
}

.sec-top{
         /* outline: 5px solid blue; */
         width: 414px;
         height: auto;
         display: flex;
         flex-direction: column;
         margin-bottom: 40px;
         margin-top: 40px;
}

/* 第一排(414) */
.left1{
       /* outline: 1px solid orange; */
       width: auto;
       height: 150px;
       display: flex;
}

.left-left{
           /* outline: 1px solid red;  */
           width: 414px;
           height: auto;
           display: flex;
           justify-content: center;
}

.left-left img{
               display: block;
               transition: none;
}

.left-left img:hover{
                     transform: none;   
}

/* 右一張圖片 */
.left-right{
            width: 321px;
            height: 665px;
            display: none;    /* 390px 再出現  */
            margin-left: 9px;
}

.left-right img{
                transition: .3s;
}

.left-right img:hover{
                      transform: none;     
}

.sec-mid{
         flex-direction: column;
         height: auto;
         margin-bottom: 40px;
         width: auto;
}

.year8-414px{
             display: block;
             width: 414px;
             height: 200px;
             margin-top: 40px;   
}

.left2{
       display: none; 
}

.nightstudy-414px{
                  display: block;
                  width: 414px;
                  height: 200px;
}

.sec-mid .right2{
                 margin-left: 0px;
                 margin-top: 40px;
}

.right2 img{
            width: 414px;
            height: 150px;    
}

.right2 img:hover{
        transform: none; 
}

/* 活動下部份 ------------------------------------------------------*/
.sec-bot{
         /* outline: 1px solid red;    */
         width: 100vw;
         height: auto;
         margin: auto;
         display: flex;
         flex-direction: column-reverse;
         margin-bottom: 0px;
}

.sec-bot .left3{
                display: block;
} 

.left3 img{
           transition: none;
           width: 414px;
           height: 150px;     
}

.left3 img:hover{
                 transform: none; 
}

.right3{
        display: none;
}

.right2 .h2-mt50px{
                   margin-top: 50px;
                   margin-bottom: 14px;
}

.earlybird-414px{
                 display: block;
                 width: 414px;
                 height: 200px;margin-bottom: 40px;
}

/* 會員卡414 */
.membershipcard-section{
                        display: flex;
                        width: 414px;
                        height: auto;
                        overflow: auto;
                        margin-top: 38px;          
}

.logo-gold-414px, .logo-darkblue-414px{
                                       display: block; 
}

.left4, .right4{
                display: none;
}

.membershipcard-section img{
                            width: 414px;
                            height: 200px;    
}

.container-bot{
               display: none; 
}

/* totop 紙飛機 */
.totop{
       bottom: 25%;
       right: 1%;
       position: fixed;
       /* transition: .5s; */
       background: rgb(26 26 25 / 30%);
       border-radius: 8%;

 }
 
 .totop img{
            width: 50px; 
 }
 
 .totop span{
             display: none;    
             color: #E2C286;
             font-size: 28px;
             font-weight: bolder;
             outline: 3px dotted;
 }

/* 頁尾部份414px */
.end-of-the-page{
                 display: flex;
                 margin-top: 40px;       
}

.footer-container{
                  width: auto;
                  height: auto;
                  display: block;
}

.top-footer{
            width: 414px;
            height: auto;
            display: flex;
            justify-content: center;
}

.logowrapper{
             width: auto;
             height: auto;
             padding-top: 8px;
             padding-bottom: 8px;
}

.logowrapper img{
                 width: 68px;
}

.manuwrapper, .mediawrapper{
                            display: none;   
}

.ty-search{
padding: 10px;
border-style: hidden;
border-radius: 50px;
font-size: 14px;
background-color: beige;
box-shadow: 1px 2px 3px 0px rgb(85 83 83 / 30%);
width: 314px; 
}

.ty-search:focus{
        outline: none;
}

.ty-submit{
  background-color: beige;
  padding: 8px;
  border-style: hidden;
  border-radius: 38%;
  margin-left: 18px;
  font-weight: 900;
  color: black;
  box-shadow: 1px 2px 3px 0px rgb(85 83 83 / 30%);
  display: none;
}

.bot-footer{
            width: 414px;
            height: auto;
            display: none;
}

.copyright{
           width: 48%;
           height: auto;
           line-height: 30px;
           font-family: 'Days One';
           color: #FFFFFF;
           padding-top: 11px;
}

.annoucement{
             width: 48%;
             height: 108px;
             line-height: 26px;
             text-align: center; 
             font-family: 'Delius Unicase';
             font-style: normal;
             font-weight: 600;
             font-size: 16px;
             color: #FFFFFF;
             padding-top: 15px;  
}

.logowrapper{
             font-size: 16px;   
}

}
