.bgcover{
        background-image: url("./image/main_bg.jpg");
        position: absolute;
        z-index: -1000;
        width: 100%;
        height: 1612px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: blur(20px);    
}

/* 說明當前頁面產品種類 */
.item-banner-wrapper{
                     /* outline: 1px solid yellow; */
                     width: 1200px;
                     margin: 0 auto;
                     padding-left: 66px;
}

.item-banner{
             /* outline: 1px solid green; */
             display: inline-flex;

}

.menu-title{
            /* outline: 1px solid orange; */
            width: 100%;height: 44px;
            line-height: 44px;
            width: 447px;
            height: 44px;
            font-family: 'Delius Unicase';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            color: #E2C286;
            display: inline-flex;
            align-items: baseline;

}

.menu-title h2{
               font-size: 34px;
}

.menu-title h3{
               font-size: 20px; 
               margin-left: 14px;
}

/* 品項顯示區塊 */
.menu-container-wrapper{
                         /* outline: 1px solid blue; */
                         width: 1200px;
                         margin: 0 auto;
                         

}

.menu-containeer{
                 outline: 1px solid blue;            
                 display: table;
}

.menu-row{
          display: table-row;
}

.row-up1{
                   position: relative; 
}

/* 用偽類做row分隔線 */
.row-up1::after{
                content: "";
                width: 1100px;
                border: 1px solid #E2C081;
                position: absolute;
                bottom: 0;
                left: 50px;
}

.row-up2::after{
                content: "";
                width: 1100px;
                border: 1px solid #E2C081;
                position: absolute;
                bottom: 0;
                left: 50px;
}

.row-up2{
         position: relative;
}

.row-up2::after{
                content: "";
                width: 1100px;
                border: 1px solid #E2C081;
                position: absolute;
                bottom: 0;
                left: 50px;
                z-index: 1; 
}

/* cell定義格局樣式 */
.menu-cell{
           width: 400px;
           height: 300px; 
           display: table-cell;
           font-family: 'Delius Unicase';
           font-style: normal;
           font-weight: 1000;
           font-size: 16px;
           line-height: 21px;
           color: #E2C286;
           vertical-align: middle;
           padding-left: 6%;
           box-sizing: border-box;
           background-color: #2C3236;
} 

/* 偽類做cell分隔線 */
.cell-mid1{
           position: relative;
}

/* 上半部 */
.cell-mid1::before{
                   content: "";
                   display: block;
                   width: 0;
                   height: 180px;
                   border: 1px solid #E2C081;
                   position: absolute;
                   top: 60px;
                   left: 0;
}

.cell-mid1::after{
                  content: "";
                  display: block;
                  height: 180px;
                  border: 1px solid #E2C081;
                  position: absolute;
                  top: 60px;
                  right: 0%;  
}

/* 中半部 */
.cell-mid2{
           position: relative;     
}

.cell-mid2::before{
                   content: "";
                   display: block;
                   width: 0;
                   height: 180px;
                   border: 1px solid #E2C081;
                   position: absolute;
                   top: 60px;
                   left: 0;
}

.cell-mid2::after{
                  content: "";
                  display: block;
                  height: 180px;
                  border: 1px solid #E2C081;
                  position: absolute;
                  top: 60px;
                  right: 0%;  
}

/* 下半部 */
.cell-mid3{
           position: relative; 
}

.cell-mid3::before{
                   content: "";
                   display: block;
                   width: 0;
                   height: 180px;
                   border: 1px solid #E2C081;
                   position: absolute;
                   top: 60px;
                   left: 0;
}

.cell-mid3::after{
                  content: "";
                  display: block;
                  height: 180px;
                  border: 1px solid #E2C081;
                  position: absolute;
                  top: 60px;
                  right: 0%;  
}

/* 品項表格下方說明欄 */
.aftermenu-wrapper{
                   /* outline:  1px solid #E2C081;  */
                   width: 1200px;
                   margin: 0 auto; 
}

.aftermenu{
           display: inline-flex;
           /* width: 1200px; */
           /* height: 150px; */
           /* outline: 1px solid  red; */
           position: relative;
}

.detail{
        width: 400px;
        height: 200px;
        font-family: 'Delius Unicase';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 26px;
        color: #E2C286;
        padding-top: 40px;
        padding-left: 10px;
        box-sizing: border-box;
        background-color: rgba(31, 31, 31, 0.4);
}

.download-icon{
               /* outline: 1px solid  red; */
               width: 400px;
               height: 200px;
               text-align: center;
}

.download-icon a{
                 display: block;
                 width: 164px;
                 height: 65px;
                 margin: 0 auto;
                 padding-top: 60px;                
}

.plainblock{
            width: 400px;
            height: 200px;
            
}

.spaceforlayout{
                width: 1200px;
                height: 100px;
                margin: 0 auto;
}

.spaceforlayout a{
                  display: block;
                  width: 50px;
                  margin: 0 auto;
                  padding-top: 10px;
                  box-sizing: border-box;
}