body{
     background-image: url("../image/main_bg.jpg");
     position: relative;
     /* background-color: #000000; */
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     background-attachment:fixed;
   }

html{
     scroll-behavior: smooth;
}

#totop{
       display: block;
}

/* 說明當前頁面產品種類 */
.item-banner-wrapper{
                     /* outline: 1px solid yellow; */
                     width: 1200px;
                     margin: 0 auto;
                     padding-left: 66px;
}

.item-banner{
             /* outline: 1px solid green; */
             display: inline-flex;

}

.menu-title{
            /* outline: 1px solid orange; */
            width: 100%;height: 44px;
            line-height: 44px;
            width: 447px;
            height: 44px;
            font-family: 'Delius Unicase';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            color: #E2C286;
            display: inline-flex;
            align-items: baseline;

}

.menu-title h2{
               font-size: 34px;
}

.menu-title h3{
               font-size: 20px; 
               margin-left: 14px;
}

/* 品項顯示區塊 */
.menu-container-wrapper{
                         /* outline: 1px solid blue; */
                         width: 1200px;
                         margin: 0 auto;
                         

}

.menu-containeer{
                 outline: 1px solid blue;            
                 display: table;
}

.menu-row{
          display: table-row;
}

.row-up1{
         position: relative; 
}

/* 用偽類做row分隔線 */
.row-up1::after{
                content: "";
                width: 1100px;
                border: 1px solid #E2C081;
                position: absolute;
                bottom: 0;
                left: 50px;
}

.row-up2::after{
                content: "";
                width: 1100px;
                border: 1px solid #E2C081;
                position: absolute;
                bottom: 0;
                left: 50px;
}

.row-up2{
         position: relative;
}

.row-up2::after{
                content: "";
                width: 1100px;
                border: 1px solid #E2C081;
                position: absolute;
                bottom: 0;
                left: 50px;
                z-index: 1; 
}

/* cell定義格局樣式 */
.menu-cell{
           width: 400px;
           height: 300px; 
           display: table-cell;
           font-family: 'Delius Unicase';
           font-style: normal;
           font-weight: 1000;
           font-size: 16px;
           line-height: 21px;
           color: #E2C286;
           vertical-align: middle;
           padding-left: 6%;
           box-sizing: border-box;
           background-color: #2C3236;
} 

/* 偽類做cell分隔線 */
.cell-mid1{
           position: relative;
}

/* 上半部 */
.cell-mid1::before{
                   content: "";
                   display: block;
                   width: 0;
                   height: 180px;
                   border: 1px solid #E2C081;
                   position: absolute;
                   top: 60px;
                   left: 0;
}

.cell-mid1::after{
                  content: "";
                  display: block;
                  height: 180px;
                  border: 1px solid #E2C081;
                  position: absolute;
                  top: 60px;
                  right: 0%;  
}

/* 中半部 */
.cell-mid2{
           position: relative;     
}

.cell-mid2::before{
                   content: "";
                   display: block;
                   width: 0;
                   height: 180px;
                   border: 1px solid #E2C081;
                   position: absolute;
                   top: 60px;
                   left: 0;
}

.cell-mid2::after{
                  content: "";
                  display: block;
                  height: 180px;
                  border: 1px solid #E2C081;
                  position: absolute;
                  top: 60px;
                  right: 0%;  
}

/* 下半部 */
.cell-mid3{
           position: relative; 
}

.cell-mid3::before{
                   content: "";
                   display: block;
                   width: 0;
                   height: 180px;
                   border: 1px solid #E2C081;
                   position: absolute;
                   top: 60px;
                   left: 0;
}

.cell-mid3::after{
                  content: "";
                  display: block;
                  height: 180px;
                  border: 1px solid #E2C081;
                  position: absolute;
                  top: 60px;
                  right: 0%;  
}

/* 品項表格下方說明欄 */
.aftermenu-wrapper{
                   /* outline:  1px solid #E2C081;  */
                   width: 1200px;
                   margin: 0 auto; 
}

.aftermenu{
           display: inline-flex;
           /* width: 1200px; */
           /* height: 150px; */
           /* outline: 1px solid  red; */
           position: relative;
}

.detail{
        width: 400px;
        height: 200px;
        font-family: 'Delius Unicase';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 26px;
        color: #E2C286;
        padding-top: 40px;
        padding-left: 10px;
        box-sizing: border-box;
        background-color: rgba(31, 31, 31, 0.4);
}

.download-icon{
               /* outline: 1px solid  red; */
               width: 400px;
               height: 200px;
               text-align: center;
}

.download-icon a{
                 display: block;
                 width: 164px;
                 height: 65px;
                 margin: 0 auto;
                 padding-top: 60px;                
}

.plainblock{
            width: 400px;
            height: 200px;
}

.div372px-layout{
                 display: none;   
                 text-align: center;
                 box-sizing: border-box;
                 padding-top: 22px;
}

.div372px-layout span{
                      font-size:40px ;
                      font-family: 'Delius Unicase';
                      line-height: 60px;
                      color: #E2C286;
                      font-weight: bolder;

}

/* totop 紙飛機 */
.totop{
     width: auto;
     bottom: 60%;
     right: 5%;
     position: fixed;
     text-align: center;
     transition: .5s;
}

.totop img{
     width: 50px; 
}

.totop span{
          display: block;    
          color: #E2C286;
          font-size: 28px;
          font-weight: bolder;
          outline: 3px dotted;
}

.spaceforlayout{
                width: 1200px;
                height: 100px;
                margin: 0 auto;
}

.swiper{
        display: none;
}

.spaceforlayout a{
                  display: block;
                  width: 50px;
                  margin: 0 auto;
                  padding-top: 10px;
                  box-sizing: border-box;
}

/* 頁尾部份 */
.end-of-the-page{
     width: 100%;
     text-align: center;
     position: relative;
     /* top:2px */
     background-color: rgb(44 50 54);
}

.spaceforlayout a{
      display: block;
      width: 50px;
      height: 94px;
      margin: 0 auto;
      padding-top: 10px;
      box-sizing: border-box;
}

.footer-container{
      width: 1200px;
      height: 216px;
      display: inline-block;
}

.top-footer{
width: 1200px;
height: 108px;
display: inline-flex;
}

.logowrapper{
 /* border-right: 1px black solid; */
 width: 400px;
 height: 108px;
}

.logowrapper img{
     width: 80px;
     padding-top: 12px;     
}

.manuwrapper{
 /* outline: 1px green solid; */
 width: 400px;
 height: 108px;
}

.manuwrapper form{
      padding-top: 40px;
}

.ty-search{
padding: 10px;
border-style: hidden;
border-radius: 50px;
font-size: 14px;
background-color: beige;
box-shadow: 1px 2px 3px 0px rgb(85 83 83 / 30%);
width: 314px; 
}

.ty-search:focus{
     outline: none;
}

.ty-submit{
background-color: beige;
padding: 8px;
border-style: hidden;
border-radius: 38%;
margin-left: 18px;
font-weight: 900;
color: black;
box-shadow: 1px 2px 3px 0px rgb(85 83 83 / 30%);
display: none;
}

.manuwrapper i{
   color: #6f4835;
   font-size: 24px;
   transition: .4s;
   padding-left: 12px;
}

.manuwrapper i:hover{
         transform: scale(1.5);                 
}

.mediawrapper{
  width: auto;
  height: 108px;
  box-sizing: border-box;
  font-size: 38px;
  letter-spacing: 8px;
  line-height: 108px;
  padding-left: 14%;
  padding-top: 10px;
}

.media{
display: flex; 
}

.media a{
/* outline: 1px black solid; */
font-size: 12px;
}

.social{
display : inline-block;
width : 56px;
height : 56px;
padding : 8px;
border-radius:100%;
background-color : white;
margin:10px;
transition: all 0.5s ease-in-out;
}

.social svg{
transition: 0.5s ease-out;
}

.social:hover{
  border-radius:10%;
  transform: rotate(405deg);
}

.social:hover svg{
      transform: rotate(315deg);
}

.facebook{
fill: #3b5998;
}

.facebook:hover{
    fill:white;
    background: #3b5998;
}

.twitter{
fill: #4099FF;
}

.twitter:hover{
   fill:white;
background:#4099FF;
}

.googleplus{
fill: #d34836;
}

.googleplus:hover{
      fill:white;
   background:#d34836;
}

.bot-footer{
width: 1200px;
height: 108px;
/* border-top: 1px solid  red; */
display: inline-flex;
}

.copyright{
/* border-right: 1px solid #FFFFFF;  */
width: 400px;
height: 108px;
line-height: 108px;
font-family: 'Days One';

font-size: 20px;
color: #FFFFFF;
}

.copyright b{
 font-size: 16px;
 font-weight: 600;
}

.annoucement{
 width: 800px;
 height: 108px;
 line-height: 108px;
 text-align: center; 
 font-family: 'Delius Unicase';
 font-style: normal;
 font-weight: 600;
 font-size: 16px;
 color: #FFFFFF;  
}

.spaceforlayout{
     display: none;
}

/* screen 414-------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 414px){
body{
     background-image: url(../image/logo-darkblue.svg);
     background-repeat: no-repeat;
     background-size: 200px;
     background-position: center center;
     background-attachment: fixed;
}

body, html{
           overflow: hidden;
}

.pagevalue{
           width: 100%;
           box-sizing: border-box;
           margin-top: 82px;
           margin-right: 0px;
           padding-right: 126px;
}

.pagevalue h1{
              width: auto;
              margin-right: 300px;
}

.menu-title h3{
               font-size: 30px; 
}

.menu-container-wrapper{
                        display: none;
}

.swiper{
        display: block;
}

.item-banner-wrapper{
                     text-align: center;
                     width: 100%;
                     padding-left: 0px;
}

.item-banner{
             display: block;
}

.menu-title{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: baseline;
}

.div372px-layout{
                 display: block;
}

/* totop 紙飛機 */
.totop{
       bottom: 25%;
       right: 1%;
       position: fixed;
       /* transition: .5s; */
       background: rgb(26 26 25 / 30%);
       border-radius: 8%;
}

.totop img{
           width: 50px; 
}

.totop span{
            display: none;    
            color: #E2C286;
            font-size: 28px;
            font-weight: bolder;
            outline: 3px dotted;
}

/* 頁尾部份414px */
.end-of-the-page{
     display: flex;
     margin-top: 25px;       
}

.footer-container{
      width: auto;
      height: auto;
      display: block;
}

.top-footer{
width: 414px;
height: auto;
display: flex;
justify-content: center;
}

.logowrapper{
 width: auto;
 height: auto;
 padding-top: 8px;
 padding-bottom: 8px;
}

.logowrapper img{
     width: 68px;
}

.manuwrapper, .mediawrapper{
                display: none;   
}

.ty-search{
padding: 10px;
border-style: hidden;
border-radius: 50px;
font-size: 14px;
background-color: beige;
box-shadow: 1px 2px 3px 0px rgb(85 83 83 / 30%);
width: 314px; 
}

.ty-search:focus{
outline: none;
}

.ty-submit{
background-color: beige;
padding: 8px;
border-style: hidden;
border-radius: 38%;
margin-left: 18px;
font-weight: 900;
color: black;
box-shadow: 1px 2px 3px 0px rgb(85 83 83 / 30%);
display: none;
}

.bot-footer{
width: 414px;
height: auto;
display: none;
}

.copyright{
width: 48%;
height: auto;
line-height: 30px;
font-family: 'Days One';
color: #FFFFFF;
padding-top: 11px;
}

.annoucement{
 width: 48%;
 height: 108px;
 line-height: 26px;
 text-align: center; 
 font-family: 'Delius Unicase';
 font-style: normal;
 font-weight: 600;
 font-size: 16px;
 color: #FFFFFF;
 padding-top: 15px;  
}

.logowrapper{
 font-size: 16px;   
}

}